<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>HashNotes</title>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    
        {% block extra-css %}
        {% endblock %}

	</head>

	{% autoescape off %}
	<body>

        <div id="loading">Loading&hellip;</div>

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

	</body>
	{% endautoescape %}

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    {% block extra-js %}
    
    {% endblock %}

</html>

