{% extends "base.html" %}
{% load tagging_tags %}

{% block extra-js %}

    <script>

        // Create list from json data
        function buildNoteList(data) {

            var noteTemplate, recentNotes;

            noteTemplate = $('#templates .note');
            recentNotes = $('#recent-notes');

            $.each(data, function() {
                var noteLi = noteTemplate.clone();
                noteLi.find('.note-text').text(this.text);
                noteLi.find('.note-date').text(this.date_created);
                noteLi.addClass(this.tags.join(' '));
                recentNotes.prepend(noteLi); 
            });
        };

        // Show loading message 
        $(document).ajaxStart(function() {
            $('body').addClass('loading');
        }).ajaxStop(function() {
            $('body').removeClass('loading');
        });

        $(document).ready(function() {

            // Get all notes on initial page load
            $.ajax({
                url: "{% url 'hashnote:notes-api' %}",
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    $('#recent-notes').empty();
                    buildNoteList(data);
               }
            });

            // Filter by tag
            $('a.tag').click(function(e) {

                e.preventDefault();
                
                var tag = $(this).text();

                $('.note').hide().filter(function() {
                    return $(this).hasClass(tag);
                }).fadeIn('fast');
            });

            // Reset tag filter
            $('#reset-tags').click(function(e) {
                e.preventDefault();
                $('.note').show();
            });

            // Submit form
            $('form').submit(function(e) {

                e.preventDefault();

                var thisForm = $(this);

                var formData = {
                    text: thisForm.find('[name=text]').val(),
                    shortlist: thisForm.find('[name=shortlist]').val()
                };

                $.ajax({
                    url: "{% url 'hashnote:notes-api' %}",
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    success: function(data) {
                        buildNoteList(data);
                    }
                });
            });

            // Submit shortlist note
            $('a.shortlist-note').click(function(e) {

                e.preventDefault();

                var formData = {
                    text: $(this).text()
                };

                $.ajax({
                    url: "{% url 'hashnote:notes-api' %}",
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    success: function(data) {
                        buildNoteList(data);
                    }
                });
            });

        });
    </script>

{% endblock %}

{% block extra-css %}

    <style>

        li {
            margin-bottom: 1em;
        }

        li.note {
            padding: 1em;
            background: #f8f8f8;
            border: 1px solid #eee;
        }

        #templates, #loading {
            display: none;
        }

        body.loading #loading {
            display: block;
        }

        #loading {
            position: fixed;
            top: 0;
            left: 47%;
            right: 47%;
            padding: 5px;
            background: #eee;
            text-align: center;
        }

    </style>

{% endblock %}

{% block content %}

    <h1>HashNote</h1>

    <div class="row">
        <form role="form" class="note-form form-inline" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <input class="btn btn-default" type="submit" />
        </form>
    </div>

    <div class="row">

        <div class="col-md-8">
            <h4>Recent Notes</h4>
            <ul id="recent-notes" class="list-unstyled"></ul>
        </div>

        <div class="col-md-4">

            <h4>Pre-made Notes</h4>

            <ul class="list-unstyled">
                {% for note in shortlist_notes %}
                <li>
                    <a class="shortlist-note btn btn-small" href="#">{{ note.text }}</a>
                </li>
                {% endfor %}
            </ul>

            <h4>Recent Tags</h4>

            {% tags_for_model hashnote.Note as all_tags %}
            <ul class="list-unstyled">

                {% for tag in all_tags %}
                <li>
                    <a class="tag btn btn-small" 
                        href="#">{{ tag }}</a>
                    ({{ tag.items.count }})
                </li>
                {% endfor %}

                {% if tag %}
                <li>
                    <a href="#" id="reset-tags">Reset Filter</a>
                </li>
                {% endif %}

            </ul>
        </div>

    </div>

    <div id="templates">
        <li class="note">
            <span class="note-text"></span>
            <small class="pull-right note-date"></small>
        </li>
    </div>

{% endblock %}


